{{!< main}} <!-- Extend the main layout -->

<div class="form-container login-form-container">
  <form class="login-form card">
    <div class="card-header">
      <p>Login</p>
    </div>
    <div class="card-body">
      <label for="email-login">Email:</label>
      <div class="input-container">
        <input type="email" id="email-login" class="input-field" />
      </div>
      <label for="password-login">Password:</label>
      <div class="input-container">
        <input type="password" id="password-login" class="input-field" />
      </div>
      <div class="button-container">
        <button type="submit" class="button expanded">Login</button>
      </div>
      <div id="signup-action" class="text-center">
        <a href="/signup">Signup</a>
      </div>
    </div>
  </form>
</div>
