<body>
  <div class="grid-container">
    <h1 id="quizTitle" class="text-center">Triviosa!</h1>

    <form id="quizForm" action="/submit" method="POST" class="grid-x grid-padding-x">
      </form>
  
    <h1 id="quizTitle"><a href="#quiztitle">Triviosa!</h1>
    
    {{#each users}}
      <h2>{{name}}</h2>
      <h2>{{email}}</h2>
    {{/each}}
  </div>

  <footer></footer>
</body>