{{!< main}} <!-- Extend the main layout -->

<body>
  <div class="grid-container main-container">
    <header class="text-center">
    
    </header>

    <main class="main-content">
      <div class="profile-info card">
        <div class="card-header">
          <h2 class="text-center">User Information</h2>
        </div>
        <div class="card-body">
          {{#each users}}
            <div class="profile-details">
              <h3>Name: {{name}}</h3>
              <h3>Email: {{email}}</h3>
            </div>
          {{/each}}
        </div>
      </div>
    </main>

   
  </div>

  <!-- Foundation JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"></script>
  <script>
      $(document).foundation();
  </script>
</body>
