<div style="justify-content: center; width:90%; height:100%; margin:auto; justify-content:center; border:solid">
    <form class="signup-form">
        <div class="card" style="background-color: #6f7e83;">
            <div class="card-header" style="
        background-color: rgb(97, 195, 210);
        color: white;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 20px;
      ">
                <p>Sign Up</p>
            </div>
            <div class="card-body" style="font-size: 20px;">
                <label for="name-login">username:</label>
                <div style="margin-bottom: 20px; margin-top: 20px">
                    <input type="text" id="username-signup" style="width: 100%" />
                </div>
                 <label for="email-login">email:</label>
                <div style="margin-bottom: 20px; margin-top: 20px">
                    <input type="text" id="email-signup" style="width: 100%" />
                </div>
                <label for="password-login">password:</label>
                <div style="margin-bottom: 20px; margin-top: 20px">
                    <input type="password" id="password-signup" style="width: 100%" />
                </div>
                <div>
                    <button style="width: 100%;" type="submit">Sing Up</button>
                    <div id="signup-action">
                        <a href="/login" style="color: black; text-decoration:none">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="/assets/js/signup.js"></script>