{{!< main}} <!-- Extend the main layout -->

<div class="form-container signup-form-container">
  <form class="signup-form card">
    <div class="card-header">
      <p>Signup</p>
    </div>
    <div class="card-body">
      <label for="name-signup">Name:</label>
      <div class="input-container">
        <input type="text" id="name-signup" class="input-field" />
      </div>
      <label for="email-signup">Email:</label>
      <div class="input-container">
        <input type="email" id="email-signup" class="input-field" />
      </div>
      <label for="password-signup">Password:</label>
      <div class="input-container">
        <input type="password" id="password-signup" class="input-field" />
      </div>
      <div class="button-container">
        <button type="submit" class="button expanded">Signup</button>
      </div>
      <div id="login-action" class="text-center">
        <a href="/login">Login</a>
      </div>
    </div>
  </form>
</div>
