/* Variables for Colors */
:root {
    --primary-color: #FF0000; /* Red */
    --secondary-color: #000000; /* Black */
    --accent-color: #FFFFFF; /* White */
    --background-color: #F5F5F5; /* Light Grey */
    --text-color: #000000; /* Black */
    --border-color: #FF0000; /* Red Border */
    --input-background: #FFFFFF; /* White */
    --input-border: #FF0000; /* Red Border */
    --input-focus: #000000; /* Black Focus */
    --correct-color: #4CAF50; /* Green */
    --incorrect-color: #F44336; /* Red */
}

/* General Styles */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#quizTitle { background: #000000;}

 h1 {
    text-align: center;
    margin: 0;
    color: #FF0000;  
    font-weight: 800;
}

header.grid-x {
    margin: 0;
    padding: 0;
    width: 100%;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
}

header nav a, header nav button {
    color: var(--accent-color);
    text-decoration: none;
    margin: 0 0.5rem;
}

footer {
    margin-top: 2rem;
}

.button {
    background-color: var(--primary-color);
    border: none;
    color: var(--accent-color);
    padding: 0.75rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.5rem 0;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--secondary-color);
}

/* Card Styles */
.card {
    background-color: var(--input-background);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--text-color);
}

.card-header {
    text-align: center;
    background-color: var(--primary-color);
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
}

/* Form Container Styles */
.form-container {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    margin: auto;
}

/* Input Field Styles */
.input-container {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--input-border);
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--input-background);
    color: var(--text-color);
    transition: border-color 0.3s ease;
}

.input-field:focus {
    border-color: var(--input-focus);
    outline: none;
}

/* Text Center and Link Styles */
.text-center {
    text-align: center;
}

.text-center a {
    color: var(--text-color);
    text-decoration: none;
}

.text-center a:hover {
    text-decoration: underline;
}


/* Social Media Styles */
.socialMedia {
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

/* Success and Alert Callout Styles */
.success.callout, .alert.callout {
    padding: 15px;
    margin-top: 20px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

.success.callout {
    background-color: var(--correct-color);
    color: var(--text-color);
}

.alert.callout {
    background-color: var(--incorrect-color);
    color: var(--text-color);
}

/* Overlay Styles */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(0, 0, 0), rgb(199, 0, 0));
    z-index: 1000;
    display: none;
}
nav.text-center {
    padding: 0;
    margin: 0;
    width: 100vw;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #FF0000;
}
/* Quiz Form Styles */
#quizForm {
    border: var(--border-color) solid 1px;
    border-radius: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60%;
    margin: auto;
    box-shadow: var(--secondary-color) 0px 5px 15px;
    background: var(--input-background);
    margin-top: 70px;
}

/* Quiz Modal Styles */
.quiz-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--border-color);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    z-index: 1100;
    border-radius: 20px;
    color: var(--text-color);
    overflow: hidden; /* Remove scrollbar */
}

.quiz-modal .question {
    font-size: 1em;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--input-background);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

.quiz-modal .question-style {
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--text-color);
    text-align: center;
}

.quiz-modal .answers {
    font-weight: bold;
    list-style: none;
    padding: 0;
    text-align: center;
}

.quiz-modal label {
  font-weight: 800;
}

.quiz-modal .answer-item {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
    background-color: var(--input-background);
    color: var(--text-color);
    transition: background-color 0.3s ease;
    border: 1px solid var(--input-border);
    box-shadow:  0 5px 15px rgb(221, 0, 0);
}

.quiz-modal .answer-item:hover {
    background-color: rgb(98, 98, 98);
    color: var(--accent-color);
}

.quiz-modal .answer-item.correct {
    background-color: var(--correct-color);
    color: var(--accent-color);
}

.quiz-modal .answer-item.incorrect {
    background-color: var(--incorrect-color);
    color: var(--accent-color);
}

/* Exit Modal Styles */
.exit-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: var(--background-color);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    z-index: 1100;
    border-radius: 20px;
    color: var(--text-color);
}

.exit-modal .modal-content {
    text-align: center;
}

.exit-modal .button {
    margin-top: 10px;
    background-color: var(--secondary-color);
    color: var(--accent-color);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.exit-modal .button:hover {
    background-color: var(--hover-color);
}

/* Logout Button Styles */
#logout-button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--accent-color);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #ff6b6b;
}

.milk {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    padding: 0;
    color: #FFFFFF;
}
.milk a {
    text-decoration: none;
color: #000000;
font-weight: 600;}

a.button {
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 800;
}
p.follow {
    color: var(--accent-color);
    font-weight: 800;
}